<meta name='turbolinks-visit-control' content='reload'>
  <script>
    document.addEventListener("DOMContentLoaded", function(){
      initMap(<%= 27.2046 %>, <%= 77.4977 %>);
    });
  </script>



<div id="map" class="my-3" style="width: 58%; height: 250px; position:relative; left: 25rem"></div>

